* 
{
    margin:0;
    padding:0;
     box-sizing: border-box;
}  
.main 
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px; 
   
}
 .first
 {
    width: 70vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    position: relative; 
    padding: 10px;
 } 

 .second{
    position: relative;
    display: flex;
    align-items: center; 
    flex-direction: row; 
    gap: 50px;
 }
.second >button 
{
    width: 6vw;
    height: 4vh;
    border-radius: 10px;
    font-family: sans-serif;
    font: 600;
    font-style: oblique; 
    text-transform: uppercase; 
    padding: 2px;
    
   
}